body {
    background-color: #1f2937;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.right-nav {
    color: #e5e7eb;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section-one {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin-top: 100px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    border-radius: 10px;
    width: 125px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
}

.image {
    margin-top: 100px;
}

.small-img {
    width: 600px;
    height: 250px;
}